* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #000000;
}

h1 {
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: 60px;
}

.container .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0 0 0;
}

.container .img-container .img {
    width: 350px;
    height: 250px;
    border: 10px solid #580000;
    overflow: hidden;
}

.container .img-container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
    ;
}

.container .img-container .img:hover img {
    transform: scale(1.1);
}

.container .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.container .pop-up img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #580000;
    border-radius: 8px;
    width: 700px;
 } 
 .container .pop-up span{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
 }